@charset "utf-8";
@import './reset.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #020617, #0a1a3a);
  padding-top: 40px;
}

h1 {
  color: white;
}